table{
    width:40%;
    background-color:lightgreen;
    padding:5px;
    border:2px,1px,2px,1p;
    border-color:green;
    border-style:groove;
    

    

}
th,td{
    border: 1px solid rgb(128, 226, 128);
    text-align: left;
    background-color:aliceblue;
    padding:5px;
    border-color:blue;
    border-top-style:ouset;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color:red;
}