table{
    width:20%;
    background-color:aqua;
    padding:10px;
    border:2px;
    border-collapse:separate;
    border-style: inset;
    

    

}
th,td{
    border: 1px solid rgb(128, 226, 128);
    text-align: center;
    background-color:aliceblue;
    padding:10px;
    border-style:dotted;
    border-color:blue;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color:red;
}